<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>game</key>
	<dict>
		<key>gameLayoutVersion</key>
		<integer>2</integer>
		<key>gameName</key>
		<string>Black Widow hart</string>
		<key>gameGroup</key>
		<string>Spider</string>
		<key>numberOfDecks</key>
		<integer>2</integer>
		<key>scoringType</key>
		<string>scoringSequenceInSuitAndFoundation</string>
		<key>difficulty</key>
		<integer>25</integer>
		<key>maxPoints</key>
		<integer>104</integer>
		<key>numberOfPiles</key>
		<integer>12</integer>
		<key>piles</key>
		<array>
			<dict>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Stock</string>
				<key>numberOfCardsAtStart</key>
				<integer>-1</integer>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>faceAtStart</key>
				<string>allFaceDown</string>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>notAvailable</string>
				<key>depositIfEmptyType</key>
				<string>notAvailable</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>numberPerMove</key>
				<integer>-1</integer>
				<key>indexForEmptyPileImage</key>
				<integer>0</integer>
				<key>posX</key>
				<string>0.5</string>
				<key>posY</key>
				<string>0.69999998807907104</string>
			</dict>
			<dict>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>numberOfCardsAtStart</key>
				<integer>6</integer>
				<key>dealOrderAtStart</key>
				<integer>1</integer>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>userSelectAndMoveType</key>
				<string>anySeqInSuit</string>
				<key>depositFromUserType</key>
				<string>downNoColor</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>numberPerMove</key>
				<integer>-1</integer>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>posX</key>
				<string>10.699999809265137</string>
				<key>posY</key>
				<string>0.69999998807907104</string>
			</dict>
			<dict>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>numberOfCardsAtStart</key>
				<integer>6</integer>
				<key>dealOrderAtStart</key>
				<integer>2</integer>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>userSelectAndMoveType</key>
				<string>anySeqInSuit</string>
				<key>depositFromUserType</key>
				<string>downNoColor</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>numberPerMove</key>
				<integer>-1</integer>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>posX</key>
				<string>19.600000381469727</string>
				<key>posY</key>
				<string>0.69999998807907104</string>
			</dict>
			<dict>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>numberOfCardsAtStart</key>
				<integer>6</integer>
				<key>dealOrderAtStart</key>
				<integer>3</integer>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>userSelectAndMoveType</key>
				<string>anySeqInSuit</string>
				<key>depositFromUserType</key>
				<string>downNoColor</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>numberPerMove</key>
				<integer>-1</integer>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>posX</key>
				<string>28.5</string>
				<key>posY</key>
				<string>0.69999998807907104</string>
			</dict>
			<dict>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>numberOfCardsAtStart</key>
				<integer>6</integer>
				<key>dealOrderAtStart</key>
				<integer>4</integer>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>userSelectAndMoveType</key>
				<string>anySeqInSuit</string>
				<key>depositFromUserType</key>
				<string>downNoColor</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>numberPerMove</key>
				<integer>-1</integer>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>posX</key>
				<string>37.400001525878906</string>
				<key>posY</key>
				<string>0.69999998807907104</string>
			</dict>
			<dict>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>numberOfCardsAtStart</key>
				<integer>5</integer>
				<key>dealOrderAtStart</key>
				<integer>5</integer>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>userSelectAndMoveType</key>
				<string>anySeqInSuit</string>
				<key>depositFromUserType</key>
				<string>downNoColor</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>numberPerMove</key>
				<integer>-1</integer>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>posX</key>
				<string>46.299999237060547</string>
				<key>posY</key>
				<string>0.69999998807907104</string>
			</dict>
			<dict>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>numberOfCardsAtStart</key>
				<integer>5</integer>
				<key>dealOrderAtStart</key>
				<integer>6</integer>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>userSelectAndMoveType</key>
				<string>anySeqInSuit</string>
				<key>depositFromUserType</key>
				<string>downNoColor</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>numberPerMove</key>
				<integer>-1</integer>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>posX</key>
				<string>55.200000762939453</string>
				<key>posY</key>
				<string>0.69999998807907104</string>
			</dict>
			<dict>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>numberOfCardsAtStart</key>
				<integer>5</integer>
				<key>dealOrderAtStart</key>
				<integer>7</integer>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>userSelectAndMoveType</key>
				<string>anySeqInSuit</string>
				<key>depositFromUserType</key>
				<string>downNoColor</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>numberPerMove</key>
				<integer>-1</integer>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>posX</key>
				<string>64.099998474121094</string>
				<key>posY</key>
				<string>0.69999998807907104</string>
			</dict>
			<dict>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>numberOfCardsAtStart</key>
				<integer>5</integer>
				<key>dealOrderAtStart</key>
				<integer>8</integer>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>userSelectAndMoveType</key>
				<string>anySeqInSuit</string>
				<key>depositFromUserType</key>
				<string>downNoColor</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>numberPerMove</key>
				<integer>-1</integer>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>posX</key>
				<string>73</string>
				<key>posY</key>
				<string>0.69999998807907104</string>
			</dict>
			<dict>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>numberOfCardsAtStart</key>
				<integer>5</integer>
				<key>dealOrderAtStart</key>
				<integer>9</integer>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>userSelectAndMoveType</key>
				<string>anySeqInSuit</string>
				<key>depositFromUserType</key>
				<string>downNoColor</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>numberPerMove</key>
				<integer>-1</integer>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>posX</key>
				<string>81.900001525878906</string>
				<key>posY</key>
				<string>0.69999998807907104</string>
			</dict>
			<dict>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>numberOfCardsAtStart</key>
				<integer>5</integer>
				<key>dealOrderAtStart</key>
				<integer>10</integer>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>userSelectAndMoveType</key>
				<string>anySeqInSuit</string>
				<key>depositFromUserType</key>
				<string>downNoColor</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>numberPerMove</key>
				<integer>-1</integer>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>posX</key>
				<string>90.800003051757812</string>
				<key>posY</key>
				<string>0.69999998807907104</string>
			</dict>
			<dict>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>MultiFoundation</string>
				<key>numberOfCardsAtStart</key>
				<integer>0</integer>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>faceAtStart</key>
				<string>notAvailable</string>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>notAvailable</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>numberPerMove</key>
				<integer>13</integer>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>posX</key>
				<string>0.5</string>
				<key>posY</key>
				<string>81.800003051757812</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
