<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>game</key>
	<dict>
		<key>difficulty</key>
		<integer>25</integer>
		<key>gameDescription</key>
		<dict>
			<key>difficulty</key>
			<string>leicht</string>
			<key>disposal</key>
			<string>&lt;bold&gt;Start:&lt;/bold&gt;
Zwölf Stapel in zwei Reihen mit je einer Karte offen auslegen. Drei weitere Kartenreihen offen auf jeden Stapel legen.
Acht Ablagestapel in vier Reihen daneben aufbauen.
Der Rest der Karten kommt offen auf den Vorratsstapel.
Unterhalb des Vorratsstapels wird ein weiterer leerer Stapel (der Stoß) gelegt</string>
			<key>howToPlay</key>
			<string>&lt;bold&gt;Spiel:&lt;/bold&gt;
Karten in Farbfolge in absteigender Ordnung legen. Die oberste Karte
kann auf einen anderen Stapel oder eine Grundkarte gespielt werden. Karten einer Farbsequenz
lassen sich auch als Ganzes auf einen Alagestapel legen, sofern die unterste Karte der Sequenz
in Farbfolge mit der letzten Karte des Ablagestapels ist.
Karten einer Farbsequenz können als Einheit von einem Stapel auf einen anderen bewegt werden.
Freie Plätze können mit einer beliebigen Karte belegt werden.
Die oberste Karte des Vorratsstapels ist spielbar oder kann auf dem Stoß abgelegt werden.
Die oberste Karte des Stoßes ist spielbar</string>
			<key>target</key>
			<string>&lt;bold&gt;Ziel:&lt;/bold&gt;
Acht Grundkarten in Farbfolge vom As zum König aufbauen</string>
		</dict>
		<key>gameGroup</key>
		<string>Spider</string>
		<key>gameLayoutVersion</key>
		<integer>3</integer>
		<key>gameName</key>
		<string>Napoleons Square</string>
		<key>maxPoints</key>
		<integer>104</integer>
		<key>numberOfDecks</key>
		<integer>2</integer>
		<key>piles</key>
		<array>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>notAvailable</string>
				<key>depositIfEmptyType</key>
				<string>notAvailable</string>
				<key>faceAtStart</key>
				<string>allFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>0</integer>
				<key>numberOfCardsAtStart</key>
				<integer>-1</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>permittedToPlayType</key>
				<string>waste_Tableau_FoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Stock</string>
				<key>posX</key>
				<string>65.6854</string>
				<key>posY</key>
				<string>1.0000</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>1</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>faceAtStart</key>
				<string>allFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>4</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>1.0683</string>
				<key>posY</key>
				<string>1.0000</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>upInSuit</string>
				<key>depositIfEmptyType</key>
				<string>ace</string>
				<key>faceAtStart</key>
				<string>notAvailable</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>0</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Foundation</string>
				<key>posX</key>
				<string>80.8467</string>
				<key>posY</key>
				<string>1.0000</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>2</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>faceAtStart</key>
				<string>allFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>4</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>10.9595</string>
				<key>posY</key>
				<string>1.0000</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>3</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>faceAtStart</key>
				<string>allFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>4</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>20.8506</string>
				<key>posY</key>
				<string>1.0000</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>4</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>faceAtStart</key>
				<string>allFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>4</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>30.7418</string>
				<key>posY</key>
				<string>1.0000</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>5</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>faceAtStart</key>
				<string>allFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>4</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>40.6329</string>
				<key>posY</key>
				<string>1.0000</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>6</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>faceAtStart</key>
				<string>allFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>4</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>50.5241</string>
				<key>posY</key>
				<string>1.0000</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>7</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>faceAtStart</key>
				<string>allFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>4</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>1.0683</string>
				<key>posY</key>
				<string>50.5000</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>8</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>faceAtStart</key>
				<string>allFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>4</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>10.9595</string>
				<key>posY</key>
				<string>50.5000</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>9</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>faceAtStart</key>
				<string>allFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>4</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>20.8506</string>
				<key>posY</key>
				<string>50.5000</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>10</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>faceAtStart</key>
				<string>allFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>4</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>30.7418</string>
				<key>posY</key>
				<string>50.5000</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>11</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>faceAtStart</key>
				<string>allFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>4</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>40.6329</string>
				<key>posY</key>
				<string>50.5000</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>12</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>anyCard</string>
				<key>faceAtStart</key>
				<string>allFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>4</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>50.5241</string>
				<key>posY</key>
				<string>50.5000</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>upInSuit</string>
				<key>depositIfEmptyType</key>
				<string>ace</string>
				<key>faceAtStart</key>
				<string>notAvailable</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>0</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Foundation</string>
				<key>posX</key>
				<string>90.4943</string>
				<key>posY</key>
				<string>1.0000</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>upInSuit</string>
				<key>depositIfEmptyType</key>
				<string>ace</string>
				<key>faceAtStart</key>
				<string>notAvailable</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>0</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Foundation</string>
				<key>posX</key>
				<string>80.7454</string>
				<key>posY</key>
				<string>21.3740</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>upInSuit</string>
				<key>depositIfEmptyType</key>
				<string>ace</string>
				<key>faceAtStart</key>
				<string>notAvailable</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>0</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Foundation</string>
				<key>posX</key>
				<string>90.2869</string>
				<key>posY</key>
				<string>21.3740</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>upInSuit</string>
				<key>depositIfEmptyType</key>
				<string>ace</string>
				<key>faceAtStart</key>
				<string>notAvailable</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>0</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Foundation</string>
				<key>posX</key>
				<string>80.6442</string>
				<key>posY</key>
				<string>41.7479</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>upInSuit</string>
				<key>depositIfEmptyType</key>
				<string>ace</string>
				<key>faceAtStart</key>
				<string>notAvailable</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>0</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Foundation</string>
				<key>posX</key>
				<string>90.2688</string>
				<key>posY</key>
				<string>41.7479</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>upInSuit</string>
				<key>depositIfEmptyType</key>
				<string>ace</string>
				<key>faceAtStart</key>
				<string>notAvailable</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>0</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Foundation</string>
				<key>posX</key>
				<string>80.5429</string>
				<key>posY</key>
				<string>62.1219</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>upInSuit</string>
				<key>depositIfEmptyType</key>
				<string>ace</string>
				<key>faceAtStart</key>
				<string>notAvailable</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>0</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Foundation</string>
				<key>posX</key>
				<string>90.1904</string>
				<key>posY</key>
				<string>62.1219</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>onlyFromStock</string>
				<key>depositIfEmptyType</key>
				<string>notAvailable</string>
				<key>faceAtStart</key>
				<string>notAvailable</string>
				<key>indexForEmptyPileImage</key>
				<integer>7</integer>
				<key>numberOfCardsAtStart</key>
				<integer>0</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Waste</string>
				<key>posX</key>
				<string>65.6854</string>
				<key>posY</key>
				<string>21.3740</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>onlyLast</string>
			</dict>
		</array>
		<key>scoringType</key>
		<string>scoringCardOnFoundation</string>
	</dict>
</dict>
</plist>
