<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>game</key>
	<dict>
		<key>difficulty</key>
		<integer>25</integer>
		<key>gameDescription</key>
		<dict>
			<key>difficulty</key>
			<string>leicht</string>
			<key>disposal</key>
			<string>&lt;bold&gt;Start:&lt;/bold&gt;
Fünf Kartenreihen mit je 10 Karten verdeckt auslegen, wobei sich die Reihen überlappen. Eine weitere Karte auf jeden der ersten vier Stapel legen.
Die unterste Karte jeden Stapels aufdecken.
Der Rest kommt verdeckt auf den Vorratsstapel.</string>
			<key>howToPlay</key>
			<string>&lt;bold&gt;Spiel:&lt;/bold&gt;
Karten werden in absteigender Folge ohne Rücksicht auf Farbe gelegt. 
Jede Kartensequenz oder Teile davon kann als Einheit bewegt werden. 
Freie Plätze können mit einer beliebigen Karte belegt werden. 
Zu jedem Zeitpunkt kann eine weitere Kartenreihe vom Vorratsstapel auf das Kartenbild gezogen werden.</string>
			<key>target</key>
			<string>&lt;bold&gt;Ziel:&lt;/bold&gt;
Alle 8 Sequenzen ohne Rücksicht auf Farbe mit allen 13 Karten, vom König bis zum As, als Einheit ablegen.</string>
		</dict>
		<key>gameGroup</key>
		<string>Spider</string>
		<key>gameLayoutVersion</key>
		<integer>3</integer>
		<key>gameName</key>
		<string>Blockade</string>
		<key>maxPoints</key>
		<integer>104</integer>
		<key>numberOfDecks</key>
		<integer>2</integer>
		<key>piles</key>
		<array>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>notAvailable</string>
				<key>depositIfEmptyType</key>
				<string>notAvailable</string>
				<key>faceAtStart</key>
				<string>allFaceDown</string>
				<key>indexForEmptyPileImage</key>
				<integer>0</integer>
				<key>numberOfCardsAtStart</key>
				<integer>-1</integer>
				<key>numberPerMove</key>
				<integer>-1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Stock</string>
				<key>posX</key>
				<string>3.4385</string>
				<key>posY</key>
				<string>1.0981</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>1</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>fromDealOrAny</string>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>1</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>17.3998</string>
				<key>posY</key>
				<string>1.0981</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>upInSuit</string>
				<key>depositIfEmptyType</key>
				<string>ace</string>
				<key>faceAtStart</key>
				<string>notAvailable</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>0</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Foundation</string>
				<key>posX</key>
				<string>80.8467</string>
				<key>posY</key>
				<string>1.2544</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>2</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>fromDealOrAny</string>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>1</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>27.2910</string>
				<key>posY</key>
				<string>1.2544</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>3</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>fromDealOrAny</string>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>1</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>37.1821</string>
				<key>posY</key>
				<string>1.2544</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>4</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>fromDealOrAny</string>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>1</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>47.0733</string>
				<key>posY</key>
				<string>1.2544</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>5</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>fromDealOrAny</string>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>1</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>56.9644</string>
				<key>posY</key>
				<string>1.2544</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>6</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>fromDealOrAny</string>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>1</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>66.8556</string>
				<key>posY</key>
				<string>1.2544</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>7</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>fromDealOrAny</string>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>1</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>17.3998</string>
				<key>posY</key>
				<string>48.0867</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>8</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>fromDealOrAny</string>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>1</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>27.2910</string>
				<key>posY</key>
				<string>48.2430</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>9</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>fromDealOrAny</string>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>1</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>37.1821</string>
				<key>posY</key>
				<string>48.2430</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>10</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>fromDealOrAny</string>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>1</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>47.0733</string>
				<key>posY</key>
				<string>48.2430</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>11</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>fromDealOrAny</string>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>1</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>56.9644</string>
				<key>posY</key>
				<string>48.2430</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>12</integer>
				<key>dealingFromStockType</key>
				<string>dealToTableaus</string>
				<key>depositFromUserType</key>
				<string>downInSuit</string>
				<key>depositIfEmptyType</key>
				<string>fromDealOrAny</string>
				<key>faceAtStart</key>
				<string>lastFaceUp</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>1</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>downOverlapped</string>
				<key>permittedToPlayType</key>
				<string>tableauOrFoundationPermittedToPlay</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Tableau</string>
				<key>posX</key>
				<string>66.8556</string>
				<key>posY</key>
				<string>48.2430</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>allSeqInSuitOrLast</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>upInSuit</string>
				<key>depositIfEmptyType</key>
				<string>ace</string>
				<key>faceAtStart</key>
				<string>notAvailable</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>0</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Foundation</string>
				<key>posX</key>
				<string>90.4943</string>
				<key>posY</key>
				<string>1.2544</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>upInSuit</string>
				<key>depositIfEmptyType</key>
				<string>ace</string>
				<key>faceAtStart</key>
				<string>notAvailable</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>0</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Foundation</string>
				<key>posX</key>
				<string>80.7454</string>
				<key>posY</key>
				<string>21.5436</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>upInSuit</string>
				<key>depositIfEmptyType</key>
				<string>ace</string>
				<key>faceAtStart</key>
				<string>notAvailable</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>0</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Foundation</string>
				<key>posX</key>
				<string>90.2869</string>
				<key>posY</key>
				<string>21.5436</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>upInSuit</string>
				<key>depositIfEmptyType</key>
				<string>ace</string>
				<key>faceAtStart</key>
				<string>notAvailable</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>0</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Foundation</string>
				<key>posX</key>
				<string>80.6442</string>
				<key>posY</key>
				<string>41.8327</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>upInSuit</string>
				<key>depositIfEmptyType</key>
				<string>ace</string>
				<key>faceAtStart</key>
				<string>notAvailable</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>0</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Foundation</string>
				<key>posX</key>
				<string>90.2688</string>
				<key>posY</key>
				<string>41.8327</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>upInSuit</string>
				<key>depositIfEmptyType</key>
				<string>ace</string>
				<key>faceAtStart</key>
				<string>notAvailable</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>0</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Foundation</string>
				<key>posX</key>
				<string>80.5429</string>
				<key>posY</key>
				<string>62.1219</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
			</dict>
			<dict>
				<key>basicCardType</key>
				<string>notAvailable</string>
				<key>dealOrderAtStart</key>
				<integer>0</integer>
				<key>dealingFromStockType</key>
				<string>notAvailable</string>
				<key>depositFromUserType</key>
				<string>upInSuit</string>
				<key>depositIfEmptyType</key>
				<string>ace</string>
				<key>faceAtStart</key>
				<string>notAvailable</string>
				<key>indexForEmptyPileImage</key>
				<integer>3</integer>
				<key>numberOfCardsAtStart</key>
				<integer>0</integer>
				<key>numberPerMove</key>
				<integer>1</integer>
				<key>overlapType</key>
				<string>notOverlapped</string>
				<key>permittedToPlayType</key>
				<string>notAvailable</string>
				<key>pileLayoutVersion</key>
				<integer>2</integer>
				<key>pileType</key>
				<string>Foundation</string>
				<key>posX</key>
				<string>90.1904</string>
				<key>posY</key>
				<string>62.1219</string>
				<key>redealType</key>
				<string>notAvailable</string>
				<key>userSelectAndMoveType</key>
				<string>notAvailable</string>
			</dict>
		</array>
		<key>scoringType</key>
		<string>scoringCardOnFoundation</string>
	</dict>
</dict>
</plist>
